

@use '@angular/material' as mat; // Custom Theming for Angular Material
@include mat.core(); // Angular Material common styles. only include once
@import './lib/styles/palette';
@import './lib/styles/colors';
@import './lib/styles/themes';

/* global styles */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
