

@use '@angular/material' as mat; // Custom Theming for Angular Material
@include mat.core(); // Angular Material common styles. only include once
@import './libs/nokia-ui/styles/';

/* global styles */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
